<% layout('/layout/page') -%>
<br>
<img class="center" src="/img/logo.png"/>
<br>
<h4 class="center"><%=message%> <%=error.status%></h4><br>
<div><pre><%=error.stack%></pre></div>

<br/>
<br><br><br><br><br><br>
<a href="http://persona.ly">http://persona.ly</a>
<?php endif; ?>
